@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* MEDIA QUERIES */
@mixin device($media) {
	@if $media == phone {
		@media screen and (max-width: 700px) { @content;}
	}
	@else if $media == tablet {
		@media screen and (max-width: 945px) { @content; }
	}
	@else if $media == screen {
		@media screen and (min-width: 1030px) { @content; }
	}
}

@mixin content{
	margin: 0 auto;
	width: $content-width;
	@include device(tablet){
		width: 100%;
		padding: 0 10px;
	}
	@include device(phone){
		width: 100%;
		padding: 0;
	}
}

@mixin arrow($direction, $color, $size){
  display: block;
  height: 0;
  width: 0;
  @if $direction == 'top' {
    border-left: $size solid transparent;
  	border-right: $size solid transparent;
  	border-bottom: $size solid $color;
  } @else if $direction == 'right' {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
  	border-left: $size solid $color;
  } @else if $direction == 'bottom' {
    border-top: $size solid $color;
    border-right: $size solid transparent;
    border-left: $size solid transparent;
  } @else if $direction == 'left' {
    border-top: $size solid transparent;
  	border-right: $size solid $color;
  	border-bottom: $size solid transparent;
  } @else if $direction == 'top-left' {
    border-top: $size solid $color;
    border-right: $size solid transparent;
  } @else if $direction == 'top-right' {
    border-top: $size solid $color;
    border-left: $size solid transparent;
  } @else if $direction == 'bottom-left' {
    border-bottom: $size solid $color;
    border-right: $size solid transparent;
  } @else if $direction == 'bottom-right' {
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
  }
}

/* GRADIENTS */
@mixin background-image-with-ms($image) {
  @include background-image($image);
  background-image: -ms-#{$image};
}
@mixin gradient-gray(){
  background-color: rgb(64,64,64);
  @include filter-gradient(#404040, #5a5a5a, vertical);
  @include background-image-with-ms(linear-gradient(top,  rgba(64,64,64,1) 0%,rgba(90,90,90,1) 100%));

}

/* FONTS */
@mixin font {
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
  font-size: 13px;
  font-weight: 400;
}
@mixin font-bold {
  font-weight: 700;
}
@mixin font-smoothing($smoothing){
  -webkit-font-smoothing: $smoothing;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
@mixin box-header {
    @include font-bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 30px;
    color: #fff;
    margin: 0;
}

/* FORM ELEMENTS */
@mixin form-text {
    @include border-radius($border-radius);
    background: #fff;
    border: $border-width solid $gray;
    width: 230px;
    height: 32px;
    padding: 0 10px;
}
@mixin submit {
    @include border-radius($border-radius);
    margin: 10px;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    border: 0;
    color: #fff;
}
