.pager {
  clear: both;
  text-align: center;
  li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0.5em;
    &.current {
      @include font-bold;
    }
  }
}
