// -----------------------------------------
  // Media queries
// -----------------------------------------

@mixin device($media) {
	@if $media == phone {
		@media screen and (max-width: 700px) { @content;}
	}
	@else if $media == tablet {
		@media screen and (max-width: 945px) { @content; }
	}
	@else if $media == screen {
		@media screen and (min-width: 1030px) { @content; }
	}
}

@mixin content{
	margin: 0 auto;
	width: $content-width;
	@include device(tablet){
		width: 100%;
		padding: 0 10px;
	}
	@include device(phone){
		width: 100%;
		padding: 0;
	}
}
