// -----------------------------------------
  // Colors
// -----------------------------------------

$red: #CB4043;
$gray: #DADADA;

$body-color: #fff;
$text-color: #333;

// -----------------------------------------
  // Font Sizes
// -----------------------------------------

$font-size: 12px;

// -----------------------------------------
  // Font Families
// -----------------------------------------
