$base-background-color:         white;
$base-font-color:               #333;

$base-font-family:              "Helvetica", Arial, sans-serif;
$base-font-size:                1em;
$base-line-height:              1.5;

$base-border-radius:            1px;

$base-heading-line-height:      1.25;
$base-heading-h1:               $base-font-size * 2.25;
$base-heading-h2:               $base-font-size * 2;
$base-heading-h3:               $base-font-size * 1.75;
$base-heading-h4:               $base-font-size * 1.5;
$base-heading-h5:               $base-font-size * 1.25;
$base-heading-h6:               $base-font-size;